{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
    <div class="card collapse" id="add_quote">
        <div class="card-block">
            <form id="new_quote" action="{{urls.add_quote}}" method="post">
                <fieldset class="form-group">
                    <label for="text">Quote</label>
                    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="person">Said By</label>
                    <input type="text" class="form-control" id="person" name="person">
                </fieldset>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% for quote in quotes %}
    <div class="card">
        <div class="card-block">
        <blockquote class="card-blockquote">
            <p>{{quote.text}}</p>
            <footer>{{quote.person}}</footer>
        </blockquote>
        </div>
        <div class="card-footer">
		<span class="text-left">#{{quote.id}}</span>
		<span class="text-right">Submitted
		<time class="timeago" datetime="{{quote.date}}">{{quote.date}}</time>
		by <a href="{{urls.root}}?user={{quote.submitter.id}}">{{quote.submitter.name}}</a></span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script src="/static/lib/jquery.timeago.js" type="text/javascript"></script>
<script src="/static/lib/marked.min.js"></script>
<script src="/static/index.js" type="text/javascript"></script>
{% endblock %}
